.resim {
    width: 40px;
    height:40px;
    padding: 5px;

}
a{
    padding: 5px;
}


.resim3 {
    max-width: 0 auto;
    height: 0 auto;
    margin-left: 600px;
    margin-top: 200px;
    ;
}

.görseller {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;


}


.search-form {
    display: flex;
    margin-left: 500px;

}

.search-form input {
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
    width: 500px;
}


.microphone {
    width: 30px;
    height: auto;
    margin-left: 990px;
    display: flex;
    justify-content: initial;
    flex-direction: row;
    margin-top: -35px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    text-align: center;
    /* Yazıyı merkezle */
    display: inline-block;
    /* Düğmeyi blok olarak göster */
    cursor: pointer;
    /* İmleci el işareti yap */
    margin: 10px;

}

.container {
    margin-top: 245px;
    width: 100%;
    height: 120px;
    background-color: #ecedee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.turkey {
    font-size: 16px;
    text-align: left;
}
.p{
    margin-left: 20px;
}
.column{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.text {
    font-size: 16px;
    margin-left: 20px;
}

